.search {
    position: relative;
    width: 100%;
}
.search__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
}
.search__icon-search {
    left: 10px;
    position: absolute;
}
.search__icon-exit {
    transform: scale(0);
    position: absolute;
    right: 10px;
}
.search__input {
    padding: 8px 40px;
    width: 237px;
    flex: 1 0 100%;
    outline: none;
    border-radius: 4px;
    background: var(--color-btn-hover);
    border: none;
    margin: 0 2px;
    padding-right: 10px;
    &:hover {
        background: var(--color-bg);
    }
    &:active {
        background: var(--color-bg) c3;
    }
}
.result {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 120%;
    border-radius: 4px;
    background: var(--color-bg);
    border: 1px solid rgb(176, 176, 176);
    display: block;
    margin: 0;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.193);
    transform: scale(0) translate(-50%);
    opacity: 0;
    overflow: hidden;
}

.search.active .search__icon-exit {
    transform: scale(1);
    transition: all 0.1s ease-in-out;
}
.search.active .search__input {
    width: 400px;
    background: var(--color-bg);
    padding-right: 40px;
}

.search.active .result {
    transform: scale(1) translate(0);
    opacity: 1;
    transition: all 0.1s ease-in-out;
}
.result__title {
    padding: 10px 20px;
    font-weight: 600;
}
.result__item {
    padding: 10px 20px;
    color: #777;
    font-weight: 400;
    &:hover {
        background: var(--color-btn-hover);
    }
}
@media screen and (max-width: 650px) {
    .search__label {
        max-width: 100%;
    }
    .search__input {
        width: 100%;
    }
    .search.active .search__label {
        max-width: 90%;
    }
    .search.active {
        position: absolute;
        left: 5%;
    }
}
